.flex {
    display: flex;
}

.box__contenedor {

    justify-content: space-between;
    border: 1px solid gray;
    padding: 10px 100px;
}

.box__menu {
    width: 30%;
    list-style: none;
    justify-content: space-between;
    align-items: center;
}



/* EJERCICIO O2*/

.box__contenedor--02 {
    margin: auto;
    width: 70%;
    padding: 2rem 0;
    justify-content: center;
    border: 1px solid gray;
}

.button {
    padding: 15px 32px;
    text-align: center;
    margin: 4px 2px;
    cursor: pointer;
    text-decoration: none;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin-right: 2rem;
    width: 14.6rem;
    height: 3.3rem;
    box-sizing: border-box;

}

.button__02 {
    background-color: #2BA1AF;
    color: white;
    border: 0.1rem solid #2BA1AF;
}

.button__02:hover {
    background-color: white;
    color: black;
    border: 0.1rem solid #2BA1AF;

    font-weight: bold;

}



/* 
 .button {
     animation: mover 3s ease-in-out 0s infinite;
    animation-name: mover;
    animation-duration: 3s;
    animation-timing-function: ease-in;
    animation-delay: 0s; 
    animation-iteration-count: 3;

    animation-direction: alternate;
    animation-fill-mode: forwards; */





/* EJERCICIO 03 */

@keyframes opacidad {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes mover {
    0% {
        margin-left: 0;
    }

    100% {
        margin-left: 15em;
    }
}

@keyframes mover-right{
    0% {
        margin-right: 0;
    }

    100% {
        margin-right: 10em;
    }
}
/* @keyframes typewriter {
    from {
        width: 0;
    }

    to {
        width: 24em;
    }
} */

.box__container--03 {
    height: 550px;
}

.box__up {
    height: 70%;
    background-color: dodgerblue;
    z-index: -3;
}

.box__down {
    height: 30%;
    background-color: #CCD1D1;
    position: relative;
}

.img__sun {
    position: relative;
    top: 5%;
    left: 10%;
    width: 10%;
    animation-name: opacidad;
    animation-duration: 1s;
}

.box__text {
    position: relative;
    top: 5%;
    left: 10%;
    color: white;
    animation-name: opacidad;
    animation-duration: 8s;
}

.box__people {
    position: absolute;
    bottom: 0px;
    right: 300px;

}

.img__sun-umbrella{
    position: relative;
    left: -120px;
    bottom: 0px;
    width: 10%;
    animation-name: mover;
    animation-delay: 3s;
    animation-duration: 3s;
    animation-fill-mode: forwards; 
}



.img__beach-ball{
    position: absolute;
    right: 0px;
    bottom: 80px;
    width: 10%;
    animation-name: mover-right;
    animation-delay: 3s;
    animation-duration: 3s;
    animation-fill-mode: forwards; 
}


.img__palm_tree{
    position: absolute;
    right: 50%;
    bottom: 70%;
    width: 10%;
    animation-name: opacidad;
    animation-delay: 3s;
    animation-duration: 3s;
    animation-fill-mode: forwards; 
}
